body{
	text-align: center;
	color: white;
	/*background-image: url('../images/food.png');*/
	/*background-repeat: repeat;*/
	background-color: #32506d;
	padding-top: 51px; 
}

.modal{
  color: gray;
}

button {
  margin-top: 10px;
}

a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: none;
	color: white;
}

@media screen and (max-width: 767px) {

  /* outer div */
  .row-offcanvas {
    position: relative;
  }

  /* sidebar */
  .sidebar-offcanvas {
    left: -80%;
    width: 80%;
    position: absolute;
    top: 0;
    background-color: #311911;
    padding: 0;
    height: 100%;
  }

  /* content */
  .row-offcanvas.active {
    left: 80%;
  }

}

}
